.navbar {
    display: flex;
    color: bisque;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--green);
    padding: 12px;
    border-bottom: 4px solid bisque;
}


.navbar>h2 {
    text-decoration: underline;
}